:root {
    --aqua: #14bfcc;
    --pink: #ffa2d9;
    --hotPink:  #ff0498;
    --topHeader: #f5f5f5;
    --topFooter: #d6d6d6;
    --bottomFooter: #434b4d;
    --heroGradient1: #ecebe9;
    --heroGradient2: #d4d4d4;
    --logoBg: #f4f4f4;
    --logoText: #cbcfce;
    --zilla: 'Zilla Slab', serif;
    --sofia: 'Sofia Sans Semi Condensed', sans-serif;
    --barlow: 'Barlow Condensed', sans-serif;
    --text: 'Oswald', sans-serif;
    --textColor: #7c807e;
    --footerText: #a4a7a5;
    --currentColor:  #f1d04c;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.caps {
    text-transform: capitalize;
}

.upper {
    text-transform: uppercase;
}
.top-header {
    color: var(--bottomFooter);
    background-color: var(--topHeader);
    border-top: 2px solid var(--aqua);
}

.navbar {
    margin: 0;
    padding: 0;
}

.top-nav-link {
    color: var(--bottomFooter);
    font-size: 14px;
}

.top-header-text {
    padding-top: 12px;
}

.heading {
    margin: 20px 0;
    letter-spacing: -1px;
}

#logo {
    color: var(--bottomFooter);
    font-family: var(--zilla);
}

.logoStyle {
    padding: 4px;
    letter-spacing: 1px;
    text-transform: capitalize;
    background-color: var(--aqua);
    color: #fff;
    border-radius: 50%;
}

.logo-dot {
    top: 5px;
    color: var(--aqua);
    font-size: calc(1.375rem + 1.5vw);
}

.aqua {
    color: var(--aqua);
}

.top-nav-link {
    text-transform: capitalize;
    margin-right: 8px;
}


.main-nav-link {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: var(--bottomFooter);
}



.main-nav-link:hover {
    color: var(--aqua);
}

.bottom-header {
    padding: 20px 0;
}

.currency-btn, .language-btn, .cart-total-btn {
    margin: 0 2px;
    background-color: var(--aqua);
    border-radius: 0;
}

.cart-total-btn {
    color: #fff;
}

.currency-btn, .language-btn {
    background-color: var(--heroGradient1);
    background-image: linear-gradient(var(--heroGradient2), var(--heroGradient1), var(--heroGradient2));
    border-radius: 0;
}


.bottom-nav-search, .bottom-nav-search-btn {
    border-radius: 0;
}

.bottom-nav-search-btn {
    margin-left: -10px;
    background-color: var(--topFooter);
}

/* =============================== carousel ========================================= */

.carousel-section {
    padding: 20px 0;
    height: auto;
    background-color: var(--heroGradient1);
    background-image: linear-gradient(var(--heroGradient2), var(--heroGradient1), var(--heroGradient2));
    border-top: var(--heroGradient2) 2px solid;
}

.carousel-heading, .carousel-sub {
    margin-right: 100px;
    display: inline-block;
    padding: 0px 8px;
    text-transform: uppercase;
}

/* .carousel-heading::after {
    content: "\a";
} */

.carousel-heading {
    color: #fff;
    background-color: var(--aqua);
}

.carousel-sub {
    font-size: 24px;
    color: #fff;
    background-color: var(--bottomFooter);
}

.carousel-btn, .newsletter-btn {
    font-family: var(--text);
    text-transform: uppercase;
    background-color: var(--bottomFooter);
    color: #fff;
    border-radius: 0;
}

.carousel-indicators .active {
    background-color: var(--aqua);
}

/* ========================================= features ================================================== */

.latest-section {
    /* padding: 40px 0; */
}

.hrule {
    margin-top: -3px;
    height: 1px;
    padding: 0;
    border-top: 1px solid var(--textColor);
}

.latest-h2, .welcome-h2, .bestsellers-h2, .manufacturers-h2 {
    margin: -40px 0 0 0 ;
    font-family: var(--barlow);
    font-size: 56px;
    text-transform: capitalize;
    border-left: 6px solid var(--aqua);
    background-color: #fff;
}

.latest-heading-div {
    /* border-left: 6px solid var(--aqua); */
}

.latest-btn, .bestsellers-btn, .manufacturers-btn  {
    margin: -20px 0;
    padding: 0;
    width: 40px;
    height: 36px;
    font-size: 24px;
    font-family: var(--);
    text-transform: uppercase;
    background-color: var(--topFooter);
    color: var(--bottomFooter);
    border: 1px solid var(--bottomFooter);
    border-radius: 0;
}

.active-btn {
    background-color: var(--aqua);
    color: #fff;
}

.latest-text, .welcome-text {
    margin: 0 0 20px -30px;
    padding: 0 60px 0 0;
    font-size: 20px;
    font-family: var(--text);
    text-indent: 30px;
    line-height: 1.5;
    color: var(--textColor);
}

.card, .card-footer {
    border: none;
    /* border-bottom: var(--footerText); */
}

.discount {
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 30px;
    color: #fff;
    background-color: var(--hotPink);
}

.new {
    top: 0;
    left: 0;
    padding: 10px 20px;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--aqua);
}

.price-div {
    align-items: center;
    justify-content: center;
    bottom: 160px;
    right: 0;
    width: 100px;
    height: 100px;
    padding: 10px ;
    font-size: 30px;
    color: #fff;
    background-color: var(--aqua);
    border-radius: 50%;
}

.card-footer {
    background-color: transparent;
}

.star {
    margin: 2px;
    height: 24px;
}

.card-title {
    font-family: sans-serif;
    text-transform: capitalize;
}

.add-btn {
    font-family: var(--);
    text-transform: uppercase;
    background-color: var(--bottomFooter);
    color: #fff;
    border-radius: 0;
}

.welcome-h2 {
    /* border-left: 4px solid #14bfcc; */
}

.devices {
    margin: -50px;
}

.manufacturers-section {
    padding-bottom: 30px;
}

.newsletter-section {
    background-color: var(--heroGradient1);
    background-image: linear-gradient(var(--heroGradient2), var(--heroGradient1), var(--heroGradient2));
}

.newsletter-text {
    font-family: var(--barlow);
    font-size: calc(14px + (30 - 14) * ((100vw - 300px) / (1600 - 300)));
    /* font-size: 36px; */
    font-weight: 700;
    text-transform: uppercase;

}

.newsletter-input {
    margin-right: 8px;
    height: 30px;
    border: 4px solid yellow;
}

.newsletter-btn {
    border-radius: 3px;
}

footer {
    background-color: var(--bottomFooter);
}

.footer-heading {
    color: #fff;
    font-size: 36px;
    font-family: var(--barlow);
    font-weight: 500;
    text-transform: uppercase;
}

.account-list {
    list-style-type:square;
    color:  var(--aqua);
}

.footer-nav-link {
    font-family: var(--text);
    font-size: 20px;
    text-transform: capitalize;
    color: var(--footerText);
    line-height: 2.5;
}

.footer-nav-link:hover {
    color: var(--aqua);
}

.tweet, .fb-text, .fb-caption {
    font-family: var(--text);
    color: var(--footerText);
}

.twitter-link {
    color: var(--aqua);
}

.twitter-footer {
    color: var(--textColor);
}

.facebook-btn {
    margin: 4px;
    padding: 0 6px;
    height: 40px;
    font-size: 18px;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--aqua);
    border-radius: 2px;
}

.fb-icon {
    /* currentColor: var(--aqua); */
    fill: #fff;
}

.footer-icon {
    margin-right: 8px;
    padding: 5px;
    width: 40px;
    height: 40px;
    background-color: var(--textColor);
    /* background-image: radial-gradient(var(--textColor), var(--heroGradient1), var(--bottomFooter) 90%); */
    color: var(--heroGradient2);
    border-radius: 3px;
}

.footer-icon:hover {
    background-color: var(--aqua);
}

.colophon-section {
    padding-top: 20px;
    border-top: 2px solid #3a4042;
}

.colophon-text {
    font-family: var(--text);
    text-transform: capitalize;
    color: var(--footerText);
}